@charset "utf-8";
/* ===============================
Top Page
=============================== */
/* * {
  outline: 1px solid red !important;
} */

/*=== HEADER ===*/
body {
  font-family: "Ubuntu", sans-serif;
  padding-top: 90px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
}
.header {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  height: 50px;
}
.sp-logo {
  display: none;
}
.header-right {
  display: flex;
  gap: 55px;
}
.header-right > a,
.pages {
  padding: 37px 0 33px;
  color: #0a3380;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 4px transparent;
}
.header-right > a:hover,
.pages:hover {
  border-bottom: solid 4px #299cff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pages-container {
  position: relative;
  display: flex;
  align-items: center;
}
.pages-dropdown {
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 275px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}
.pages-container:hover .pages-dropdown {
  display: block;
}

.pages-dropdown * {
  font-weight: 500;
  padding: 20px;
  width: 100%;
  border: none;
  color: #0a3380;
  background-color: white;
  border-bottom: solid 0.5px #f1efef;
}
.pages-dropdown *:hover {
  background-color: #299cff;
}
.about-us {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.faq {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hamburger-menu {
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
  cursor: pointer;
}

.hamburger-bar {
  display: block;
  height: 1.5px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 2px;
}
.close-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-container {
    background-color: rgba(49, 49, 49, 1);
  }
  .header-hidden {
    display: none;
  }
  .header-right {
    display: none;
    justify-content: center;
  }
  .header-left {
    margin: 0 auto;
    padding: 20px;
  }
  .header-right > a,
  .pages {
    padding: 20px 0;
    font-size: 14px;
  }
  .logo {
    display: none;
  }
  .sp-logo {
    display: block;
    height: 50px;
  }
}

/* === SIDEBAR === */
.sidebar {
  display: block;
  background-color: #1e1e1e;
  margin: 0 auto;
  height: 100vh;
  max-width: 401px;
  width: 100%;
  padding: 30px 42px 20px 30px;

  position: fixed;
  top: 0;
  left: -473px;

  z-index: 1000;
  transition: transform 0.3 ease;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.close-button {
  display: block;
  color: white;
  font-size: 26px;
  font-family: "Noto Sans JP";
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
}
.sidebar-menu a {
  display: inline-block;
  width: fit-content;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0 11px;
}
.underlined {
  border-bottom: solid 4px #299cff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.pages-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages-arrow {
  width: 8px;
  height: 8px;
  border-right: solid 2px white;
  border-top: solid 2px white;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.arrow-rotate {
  transform: rotate(135deg);
}
.pages-list {
  display: none;
  flex-direction: column;
  padding-left: 15px;
}
.show-list {
  display: flex;
}
.line {
  display: block;
}
.color-active {
  color: blue;
}

@media screen and (max-width: 768px) {
  .show {
    transform: translate(473px);
    transition: transform 0.3s ease;
  }
  .no-scroll {
    overflow: hidden;
  }
  .dimmed {
    position: fixed;
    inset: 0; /* covers full viewport */
    background-color: rgba(0, 0, 0, 0.5); /* 50% black dim */
    transition: opacity 0.3s ease;
    z-index: 999;
  }
  .pages-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .sidebar-header {
    justify-content: start;
  }
}

/*=== WELCOME SLIDER ===*/
.welcome-slider {
  width: 100%;
  position: relative;
}

.first-slide {
  background-image: url("../images/top/first-slide-1300.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.second-slide {
  background-image: url("../images/top/second-slide-1300.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.third-slide {
  background-image: url("../images/top/third-slide-1300.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.first-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}
.first-slider-content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: #0a3380;
  max-width: 600px;
  padding: 10px;
}
.first-slider-content span {
  color: #54ced4;
}
.first-slider-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #0a3380;
  max-width: 700px;
}
.second-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  align-items: end;
}

.second-slider-content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: #0a3380;
  text-align: right;
  max-width: 700px;
  padding: 10px;
}
.second-slider-content span {
  color: #54ced4;
}
.second-slider-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-align: right;
  color: #0a3380;
  max-width: 700px;
}
.third-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}
.third-slider-content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: #0a3380;
  max-width: 700px;
  padding: 10px;
}
.third-slider-content span {
  color: #54ced4;
}
.third-slider-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #0a3380;
  max-width: 700px;
}

.slick-arrow {
  height: 50px;
  width: 50px;
  z-index: 1;
  position: absolute;
  top: 60%;
  background-color: #ffffff;
  border-radius: 5px;
}
.slick-arrow:hover {
  background-color: #ffffff;
}
.slick-arrow:active {
  background-color: #ffffff;
}
.slick-prev {
  left: 5%;
  transform: rotate(180deg) translateY(25px);
}
.slick-next {
  right: 5%;
}
.slick-next::before {
  color: transparent;
  background-image: url("../images/top/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-prev::before {
  color: transparent;
  background-image: url("../images/top/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .first-slide,
  .second-slide,
  .third-slide {
    height: 75vh;
  }
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 48px;
  }
  .first-slider-content p,
  .second-slider-content p,
  .third-slider-content p {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .first-slide,
  .second-slide,
  .third-slide {
    height: 50vh;
  }
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 40px;
  }
  .hamburger-menu {
    display: flex;
  }
  .slick-arrow {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .first-slide,
  .second-slide,
  .third-slide {
    height: 25vh;
  }
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 30px;
  }
  .first-slider-content p,
  .second-slider-content p,
  .third-slider-content p {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 27px;
  }
}

/*--- BENEFITS ---*/
.benefits-whole-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 20px;
}
.benefits {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}
.benefits-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}
.left-side-ad {
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.right-side-ad {
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 80px;
}
.signature {
  padding: 60px 0 0;
  max-width: 100%;
}
.gradient-back-color {
  background: linear-gradient(to right, #54ced4, #4baeff);
}

@media screen and (max-width: 1024px) {
  .benefits-container {
    grid-template-columns: 1fr;
  }
  .left-side-ad {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .benefits-whole-container {
    padding: 40px 20px;
  }
  .left-side-ad {
    margin-bottom: 20px;
  }
  .signature {
    max-width: 75%;
  }
}

/*AD PHOTOS*/
.options-container {
  transform: translateY(-128px);
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;
  padding: 20px;
}
.options-img-container {
  max-width: 349.5px;
}
.options-img-container img {
  border-radius: 20px;
  object-fit: contain;
}
.left-side-ad {
  font-size: 32px;
}
.right-side-ad {
  font-size: 20px;
}
.options-button {
  font-size: 24px;
  font-weight: bold;
  color: #0a3380;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: -35px auto 0;
  width: fit-content;
  padding: 18px 33px;
  box-shadow: 8px 9px 35px rgba(49, 49, 49, 0.08);
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}
.options-button:hover,
.options-img-container:hover .options-button {
  cursor: pointer;
  transform: translateY(-100px);
}
.milky-background {
  background-color: #f9f9f9;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .options-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
}

/*=== STATS BAR ===*/

.stats-part-background {
  background-color: #f9f9f9;
}
.stats-cards-container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: -1px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px 70px;
}
.stats-card {
  max-width: 180px;
}
.stats-card img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  filter: sepia(1) saturate(10000%) hue-rotate(-56deg);
}
.middle-part {
  display: flex;
  justify-content: center;
  padding: 18px 0 10px;
  font-size: 36px;
  font-weight: 700;
  color: #ff9e21;
}
.stats-card-label {
  text-align: center;
  font-size: 16px;
  color: #0a3380;
  font-weight: bold;
}

@media screen and (max-width: 912px) {
  .stats-cards-container {
    flex-direction: column;
    gap: 50px;
  }
}

/*=== ABOUT ME ===*/
.about-me-container {
  max-width: 1320px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 20px;
}
.about-me-img {
  object-fit: contain;
}
.about-me-text-container {
  padding: 20px 0;
  max-width: 575px;
}
.about-me-text-container h2 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  max-width: 450px;
  line-height: 1.5;
  margin: 10px 0;
}
.about-me-text-container p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  min-width: 520px;
  color: #3b4964;
}
.first-paragraph {
  margin: 10px 0 20px;
}
.about-me {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21 !important;
}
@media screen and (max-width: 1024px) {
  .about-me-container {
    flex-direction: column;
    gap: 30px;
  }
  .about-me-text-container p {
    min-width: unset;
  }
}
@media screen and (max-width: 430px) {
  .about-me-text-container h2 {
    font-size: 36px;
  }
}

/*=== ANDVANCED SERVICES ===*/
.fancy-background {
  background-image: url("../images/common/top-adv-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
}
.services-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px 20px;
}

.advanced-services {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  max-width: 185px;
  margin: 0 auto;
}
.services-title {
  padding: 20px 0 22px;
  font-size: 42px;
  color: #ffffff;
  max-width: 441px;
  margin: 0 auto;
  text-align: center;
}
.services-paragraph {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.info-cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.service-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 36px;
  max-width: 339px;
}
.service-card img {
  max-width: 55px;
  margin: 20px auto 0;
}
.card-title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 24px;
  color: #0a3380;
  font-weight: bold;
}
.card-paragraph {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #3b4964;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .info-cards-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .service-card {
    min-width: unset;
    max-width: 627px;
  }
}

/* === WHY CHOOSE ME? === */
.why-choose-background {
  background-image: url("../images/top/why-choose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.why-choose-wrapper {
  padding: 90px 20px;
  max-width: 1320px;
  margin: 0 auto;
}
.why-choose-text-container {
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 60px 30px;
  max-width: 575px;
  margin: 0 auto 0 50%;
}
.why-choose-text-container h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0;
}
.strengths-tabs {
  display: flex;
  gap: 20px;
  padding: 5px 43px 20px 0;
}
.strengths-tabs > div {
  flex: 1;
  width: 100%;
}
.tab-button {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #0a3380;
  opacity: 0.3;
  padding-bottom: 22px;
}
@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.opacity-added {
  opacity: 1;
}
.orange-underline {
  border-bottom: solid 3px #ff9e21;
}
.why-choose-text-container p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  max-width: 550px;
  line-height: 1.5;
  color: #3b4964;
}
.why-choose {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21 !important;
}
.strengths-text-container {
  display: none;
}
.show-paragraph {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  animation: slideUp 0.7s ease;
}

@media screen and (max-width: 1024px) {
  .why-choose-text-container {
    max-width: unset;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-text-container {
    max-width: 100%;
    margin: 0 auto;
  }
  .why-choose-text-container p {
    max-width: 100%;
  }
  .strengths-tabs {
    flex-direction: column;
  }
}

/* === LOGO SLIDER === */
.logo-slider {
  width: 100%;
  margin: 102px 0 90px 0;
}
.logo-div {
  max-width: 200px;
  height: 70px;
  position: relative;
}
.logo-div > img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* === CALL CENTER === */
.call-center-background {
  background-image: url("../images/common/call-center-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.call-center-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 74px 20px;
}
.call-center-logo {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 auto;
}
.call-center-container p {
  color: #ffffff;
  font-size: 28px;
  width: fit-content;
  margin: 40px auto 20px;
}
.call-center-container h3 {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}

/* === OUR MEDIA === */
.our-media-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 102px 20px;
}
.our-media {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.our-media-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.our-media-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}
.our-media-cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}
.our-media-card {
  position: relative;

  min-width: 300px;
}
.our-media-card img {
  border-radius: 15px;
}
.date-label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #aeb6c2;
  margin: 35px 0 7px 0;
}
.caption-label {
  font-size: 24px;
  color: #0a3380;
  font-weight: 800;
}
.tips-button {
  position: absolute;
  top: 31px;
  left: 31px;
  color: #2ea6f7;
  background-color: #ffffff;
  padding: 10px 11px;
  border-radius: 5px;
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.09);
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .our-media-cards-container {
    flex-wrap: wrap;
    column-gap: 21px;
  }
  .our-media-card {
    min-width: unset;
    max-width: 300px;
  }
}
/* === CONTACTS PAGE === */

/* === TOP SECTION === */
.contacts-top-background {
  background-image: url("../images/contact-us/half-doctor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacts-text-area {
  padding: 100px 0 100px;
}
.contacts-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.contacts-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.greaterthansign-for-contacts {
  color: #54ced4;
}
.contacts-top-background p strong {
  color: #0a3380;
}

/* === MAIN CONTENT === */
.contacts-content-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 90px 20px 97px;
  display: flex;
}
.contacts-quick-support {
  max-width: 420px;
  padding: 34px 0 0 20px;
}
.quick-support {
  color: #ff9e21;
  font-size: 14px;
  font-weight: 700;
}
.contacts-quick-support h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: 700;
  margin: 20px 0 30px;
}
.quick-support-paragraph {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
  opacity: 0.9;
  line-height: 1.8;
}

.contacts-button-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.contacts-button-container img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.contacts-button-label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #2ea6f7;
}
.contacts-button-link {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
  margin-top: 5px;
}
.contacts-main-img-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px 100px;
  border-bottom: solid 1px #e5e5e5;
}
.contacts-main-img-container img {
  margin: 0 auto;
  border-radius: 15px;
}
@media screen and (max-width: 1024px) {
  .contacts-content-container {
    flex-direction: column;
  }
  .contacts-quick-support {
    max-width: 100%;
  }
}

/* === FOOTER === */
.footer-container {
  max-width: 1320px;
  margin: 100px auto 70px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

/* === FOOTER OUR CONTACTS === */
.footer-our-contacts {
  padding: 10px;
  min-width: 265px;
}
.footer-our-contacts h3 {
  font-size: 20px;
  color: #0a3380;
  font-weight: bold;
}
.footer-contactinfo {
  display: flex;
  margin-top: 20px;
}
.footer-contactinfo img {
  height: 23px;
  width: 23px;
  margin-right: 20px;
}
.footer-contactinfo p {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
  line-height: 1.2;
}

/* === FOOTER OPEN HOURS === */
.footer-open-hours {
  min-width: 304px;
  padding: 10px;
}
.footer-open-hours h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0a3380;
}
.footer-day-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}
.grey-line {
  flex-grow: 1;
  height: 1px;
  background-color: #e5e5e5;
}
.footer-day-label {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
}
.footer-open-time {
  font-family: "Nunito", sans-serif;
  color: #54ced4;
}
.footer-map {
  border-radius: 15px;
  height: 264px;
  min-width: 376px;
  max-width: 550px;
  flex: 1;
}
@media screen and (max-width: 1246px) {
  .footer-map {
    max-width: 264px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-our-contacts {
    flex: 1;
  }
  .footer-open-hours {
    flex: 1;
  }
  .footer-map {
    max-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    margin: 0 55px;
  }
  .footer-our-contacts,
  .footer-open-hours,
  .footer-map {
    min-width: unset;
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .footer-container {
    margin: 0 20px;
  }
  .footer-map {
  }
}
.back-to-top-button {
  height: 40px;
  width: 40px;
  background-color: #ff9e21;
  border-radius: 5px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-back-to-top {
  display: none;
}
.above-footer {
  position: absolute;
  top: -15%;
  right: 2%;
}
.back-to-top-button img {
  height: 18px;
}
.footer-wrapper {
  width: 100%;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  position: relative;
}
.below-footer {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  width: fit-content;
  color: #aeb6c2;
  font-weight: bold;
  padding: 23px 0 15px;
}

/* === BLOG TOP SECTION === */
.blog-top-background {
  background-image: url("../images/blog2column/blog-2column-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog-text-area {
  padding: 80px 0 88px;
}
.blog-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.blog-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.greaterthansign-for-blog {
  color: #54ced4;
}
.blog-top-background p strong {
  color: #0a3380;
}

/* === BLOG MAIN CONTENT === */
.blog-main-content-container {
  padding: 20px;
  max-width: 1280px;
  margin: 30px auto 0;
  display: flex;
}

/* === TREATMENT CARDS === */
.treatment-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 32px;
}
.treatment-card {
  position: relative;
}
.treatment-card img,
.treatment-card-slider img {
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
.treatment-card-slider {
  width: 100%;
}
.treatment-date-label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #aeb6c2;
  margin: 35px 0 7px 0;
}
.treatment-caption-label {
  font-size: 24px;
  color: #0a3380;
  font-weight: 800;
}
.treatment-tips-button {
  position: absolute;
  top: 31px;
  left: 31px;
  color: #2ea6f7;
  background-color: #ffffff;
  padding: 10px 11px;
  border-radius: 5px;
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.09);
  z-index: 1;
}

/* === BLOG RIGHT SICKY CONTENT === */

.blog-side-content-container {
  width: 275px;
  position: sticky;
  top: 0;
  height: fit-content;
  margin-right: 32px;
}

/* === SIDE PROFILE === */
.side-profile {
  padding: 30px 0;
}
.side-profile-pic {
  width: 210px;
  margin: 0 auto;
}
.side-profile h3 {
  width: fit-content;
  margin: 0 auto;
  font-size: 26px;
  color: #0a3380;
}
.side-profile p {
  text-align: center;
  margin: 20px 0 24px;
  font-family: "Nunito", sans-serif;
  color: #3b4964;
}
.social-media-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-media-button {
  position: relative;
}
.social-media-button img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transition: opacity 0.6s ease, transform 0.8s ease;
}
.social-media-button-hovered {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.social-media-button:hover .social-media-button-normal {
  opacity: 0;
}
.social-media-button:hover .social-media-button-hovered {
  transform: translateY(-5px);
  opacity: 1;
}

/* === SIDE CATEGOIESY === */
.side-categories h3 {
  width: fit-content;
  margin: 10px auto 40px;
  font-size: 18px;
  font-weight: 700px;
  color: #0a3380;
}
.side-categories h3::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  width: 22px;
  height: 3px;
  background-color: #ff9e21;
}
.side-categories p {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 500px;
  color: #0a3380;
  cursor: pointer;
}
.side-categories p:hover {
  color: #2ea6f7;
}
.side-categories p::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aeb6c2;
}
.categories-grey-line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  background-color: #e5e5e5;
}
.category-pages {
  font-family: "Nunito", sans-serif;
  color: #aeb6c2;
  font-size: 14px;
}

/* === SIDE GALLERY === */
.side-gallery h3 {
  width: fit-content;
  margin: 52px auto 25px;
  font-size: 18px;
  font-weight: 700px;
  color: #0a3380;
}
.side-gallery h3::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  width: 22px;
  height: 3px;
  background-color: #ff9e21;
}
.side-gallery-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.side-gallery-img-container img {
  border-radius: 10px;
  max-width: 77px;
  margin: 0 auto;
}

/* === SIDE GALLERY === */
.side-emergency-section {
  background-image: url("../images/common/widget-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 53px 0;
  border-radius: 15px;
  margin-top: 80px;
}
.side-emergency-section h3 {
  width: fit-content;
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
}
.side-emergency-section p {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin: 20px 0 32px;
  text-align: center;
}
.side-emergency-section a {
  color: #2ea6f7;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .treatment-cards-container {
    max-width: 100%;
  }
  .blog-main-content-container {
    flex-direction: column;
    max-width: 857px;
  }
  .blog-side-content-container {
    width: unset;
    margin: 0;
  }
  .side-gallery-img-container img {
    max-width: 100%;
  }
  .treatment-cards-container {
    padding: 20px 0;
  }
  .blog-side-content-container {
    padding: 50px;
  }
}

@media screen and (max-width: 768px) {
  .treatment-cards-container {
    padding: 20px 0;
  }
  .side-gallery-img-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .treatment-cards-container {
    grid-template-columns: 1fr;
  }
}

/* === ABOUT US PAGE TOP SECTION === */
.aboutus-top-background {
  background-image: url("../images/aboutus/aboutus-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutus-text-area {
  padding: 80px 0 88px;
}
.aboutus-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.aboutus-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.greaterthansign-for-aboutus {
  color: #54ced4;
}
.aboutus-top-background p strong {
  color: #0a3380;
}

/* === ADVANCED-SERVICES === */
.aboutus-advanced-services-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 102px 20px;
}
.aboutus-advanced-services {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.aboutus-advanced-services-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.aboutus-advanced-services-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto 60px;
  line-height: 2;
}
.aboutus-care-cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.aboutus-care-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 36px;
  max-width: 394px;
  box-shadow: 10px 8px 35px rgba(49, 49, 49, 0.08);
}
.aboutus-care-card img {
  max-width: 55px;
  margin: 20px auto 0;
}
.aboutus-card-title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 24px;
  color: #0a3380;
  font-weight: bold;
}
.aboutus-card-paragraph {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #3b4964;
  line-height: 1.5;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .aboutus-care-cards-container {
    flex-wrap: wrap;
  }
  .aboutus-care-card {
    max-width: 339px;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-care-card {
    min-width: unset;
    max-width: 627px;
  }
}

/* === ABOUTUS STATS CARD === */
.aboutus-stats-part-background {
  background-color: #2ea6f7;
}
.aboutus-stats-cards-container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: -1px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 70px;
}
.aboutus-stats-card {
  max-width: 180px;
}
.aboutus-stats-card img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.aboutus-middle-part {
  display: flex;
  justify-content: center;
  padding: 18px 0 10px;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
.aboutus-stats-card-label {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (max-width: 912px) {
  .aboutus-stats-cards-container {
    flex-direction: column;
    gap: 50px;
  }
}

/* === ABOUTUS OUR FEATURES === */
.aboutus-our-features-background {
  background-color: #f9f9f9;
}
.aboutus-our-features-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 102px 20px;
}
.aboutus-our-features {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.aboutus-our-features-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.aboutus-our-features-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto 60px;
  line-height: 2;
}
.aboutus-features-container img {
  object-fit: contain;
  max-width: 600px;
}
.aboutus-features-container {
  display: flex;
  padding: 40px 20px 0;
}
.aboutus-features-left,
.aboutus-features-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0;
}
.aboutus-features-left h4,
.aboutus-features-left p {
  text-align: right;
}
.aboutus-feature-box {
  display: flex;
  gap: 20px;
}
.aboutus-feature-box h4 {
  color: #2ea6f7;
  font-size: 14px;
  font-weight: 700px;
  margin-bottom: 14px;
}
.aboutus-feature-box p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #3b4964;
  line-height: 1.6;
}
.aboutus-feature-box img {
  height: 40px;
}
@media screen and (max-width: 1200px) {
  .aboutus-features-container img {
    max-width: 471px;
  }
}
@media screen and (max-width: 1092px) {
  .aboutus-features-container {
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
  }
  .aboutus-features-left .aboutus-feature-box {
    justify-content: end;
    padding-bottom: 50px;
  }
  .aboutus-features-right .aboutus-feature-box {
    justify-content: start;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 538px) {
  .aboutus-features-container img {
    max-width: 420px;
  }
}
@media screen and (max-width: 446px) {
  .aboutus-features-container img {
    max-width: 362px;
  }
}

/* === ABOUTUS QUALITY STUFF === */
.aboutus-quality-stuff-container {
  padding: 79px 20px 75px;
  max-width: 1320px;
  margin: 0 auto;
}
.aboutus-quality-stuff-container h4 {
  color: #ff9e21;
  font-size: 14px;
  font-weight: 700;
}
.aboutus-quality-stuff-container h3 {
  font-size: 42px;
  color: #0a3380;
  font-weight: 700;
  margin: 20px 0 40px;
}
.aboutus-profile-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.aboutus-profile-card {
  position: relative;
}
.aboutus-profile-card > img {
  border-radius: 15px;
  justify-items: center;
}
.plus-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 19px;
  right: 18px;
  z-index: 1;
}
.plus-button img {
  height: 20px;
}
.plus-button:hover {
  background-color: #54ced4;
  transform: rotate(45deg);
}
.plus-button:hover img {
  filter: brightness(10000);
}
.plus-button:hover + .plus-dropdown,
.plus-dropdown:hover {
  opacity: 1;
}

.plus-dropdown {
  position: absolute;
  top: 70px;
  right: 18px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: opacity 0.5s ease;
}

.aboutus-profile-card .plus-dropdown a {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.aboutus-profile-card .plus-dropdown img {
  height: 20px;
}
.aboutus-profile-card .name {
  font-size: 20px;
  color: #0a3380;
  font-weight: 700;
  margin-top: 30px;
}
.aboutus-profile-card .position {
  color: #3b4964;
  font-weight: 400;
  margin: 10px 0;
}
.aboutus-profile-card .joined-since {
  color: #2ea6f7;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .aboutus-profile-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .aboutus-profile-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .aboutus-profile-card {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-profile-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
  }
}
