@charset "utf-8";
/* ===============================
Top Page
=============================== */
/* * {
  outline: 1px solid red !important;
} */

/*=== HEADER ===*/
body {
  font-family: "Ubuntu", sans-serif;
  padding-top: 90px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.header {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  height: 50px;
}
.sp-logo {
  display: none;
}
.header-right {
  display: flex;
  gap: 55px;
}
.header-right > a,
.pages {
  padding: 37px 0 33px;
  color: #0a3380;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 4px transparent;
}
.header-right > a:hover,
.pages:hover {
  border-bottom: solid 4px #299cff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pages-container {
  position: relative;
  display: flex;
  align-items: center;
}
.pages-dropdown {
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 275px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}
.pages-container:hover .pages-dropdown {
  display: block;
}

.pages-dropdown * {
  font-weight: 500;
  padding: 20px;
  width: 100%;
  border: none;
  color: #0a3380;
  background-color: white;
  border-bottom: solid 0.5px #f1efef;
}
.pages-dropdown *:hover {
  background-color: #299cff;
}
.about-us {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.faq {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hamburger-menu {
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
  cursor: pointer;
}

.hamburger-bar {
  display: block;
  height: 1.5px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 2px;
}
.close-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-container {
    background-color: rgba(49, 49, 49, 1);
  }
  .header-hidden {
    display: none;
  }
  .header-right {
    display: none;
    justify-content: center;
  }
  .header-left {
    margin: 0 auto;
    padding: 20px;
  }
  .header-right > a,
  .pages {
    padding: 20px 0;
    font-size: 14px;
  }
  .logo {
    display: none;
  }
  .sp-logo {
    display: block;
    height: 50px;
  }
}

/* === SIDEBAR === */
.sidebar {
  display: block;
  background-color: #1e1e1e;
  margin: 0 auto;
  height: 100vh;
  max-width: 401px;
  width: 100%;
  padding: 30px 42px 20px 30px;

  position: fixed;
  top: 0;
  left: -473px;

  z-index: 1000;
  transition: transform 0.3 ease;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.close-button {
  display: block;
  color: white;
  font-size: 26px;
  font-family: "Noto Sans JP";
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
}
.sidebar-menu a {
  display: inline-block;
  width: fit-content;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0 11px;
}
.underlined {
  border-bottom: solid 4px #299cff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.pages-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages-arrow {
  width: 8px;
  height: 8px;
  border-right: solid 2px white;
  border-top: solid 2px white;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.arrow-rotate {
  transform: rotate(135deg);
}
.pages-list {
  display: none;
  flex-direction: column;
  padding-left: 15px;
}
.show-list {
  display: flex;
}
.line {
  display: block;
}
.color-active {
  color: blue;
}

@media screen and (max-width: 768px) {
  .show {
    transform: translate(473px);
    transition: transform 0.3s ease;
  }
  .no-scroll {
    overflow: hidden;
  }
  .dimmed {
    position: fixed;
    inset: 0; /* covers full viewport */
    background-color: rgba(0, 0, 0, 0.5); /* 50% black dim */
    transition: opacity 0.3s ease;
    z-index: 999;
  }
  .pages-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .sidebar-header {
    justify-content: start;
  }
}

/*=== WELCOME SLIDER ===*/
.welcome-slider {
  width: 100%;
  position: relative;
}

.first-slide {
  background-image: url("../images/top/first-slide-1300.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.second-slide {
  background-image: url("../images/top/second-slide-1300.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.third-slide {
  background-image: url("../images/top/third-slide-1300.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.first-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}
.first-slider-content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: #0a3380;
  max-width: 600px;
  padding: 10px;
}
.first-slider-content span {
  color: #54ced4;
}
.first-slider-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #0a3380;
  max-width: 700px;
}
.second-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  align-items: end;
}

.second-slider-content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: #0a3380;
  text-align: right;
  max-width: 700px;
  padding: 10px;
}
.second-slider-content span {
  color: #54ced4;
}
.second-slider-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-align: right;
  color: #0a3380;
  max-width: 700px;
}
.third-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}
.third-slider-content h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: #0a3380;
  max-width: 700px;
  padding: 10px;
}
.third-slider-content span {
  color: #54ced4;
}
.third-slider-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #0a3380;
  max-width: 700px;
}

.welcome-slider .slick-arrow {
  height: 50px;
  width: 50px;
  z-index: 1;
  position: absolute;
  top: 60%;
  background-color: #ffffff;
  border-radius: 5px;
}
.welcome-slider .slick-arrow:hover {
  background-color: #ffffff;
}
.welcome-slider .slick-arrow:active {
  background-color: #ffffff;
}
.welcome-slider .slick-prev {
  left: 5%;
}
.welcome-slider .slick-next {
  right: 5%;
}
.welcome-slider .slick-next::before {
  color: transparent;
  background-image: url("../images/top/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.welcome-slider .slick-prev::before {
  display: block;
  transform: rotate(180deg);
}
.welcome-slider .slick-prev::before {
  color: transparent;
  background-image: url("../images/top/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .first-slide,
  .second-slide,
  .third-slide {
    height: 75vh;
  }
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 48px;
  }
  .first-slider-content p,
  .second-slider-content p,
  .third-slider-content p {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .first-slide,
  .second-slide,
  .third-slide {
    height: 50vh;
  }
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 40px;
  }
  .hamburger-menu {
    display: flex;
  }
  .slick-arrow {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .first-slide,
  .second-slide,
  .third-slide {
    height: 25vh;
  }
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 30px;
  }
  .first-slider-content p,
  .second-slider-content p,
  .third-slider-content p {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .first-slider-content h2,
  .second-slider-content h2,
  .third-slider-content h2 {
    font-size: 27px;
  }
}

/*--- BENEFITS ---*/
.benefits-whole-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 20px;
}
.benefits {
  font-size: 14px;
  color: white;
  margin-bottom: 15px;
}
.benefits-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}
.left-side-ad {
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.right-side-ad {
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 80px;
}
.signature {
  padding: 60px 0 0;
  max-width: 100%;
}
.gradient-back-color {
  background: linear-gradient(to right, #54ced4, #4baeff);
}

@media screen and (max-width: 1024px) {
  .benefits-container {
    grid-template-columns: 1fr;
  }
  .left-side-ad {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .benefits-whole-container {
    padding: 40px 20px;
  }
  .left-side-ad {
    margin-bottom: 20px;
  }
  .signature {
    max-width: 75%;
  }
}

/*AD PHOTOS*/
.options-container {
  transform: translateY(-128px);
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;
  padding: 20px;
}
.options-img-container {
  max-width: 349.5px;
}
.options-img-container img {
  border-radius: 20px;
  object-fit: contain;
}
.left-side-ad {
  font-size: 32px;
}
.right-side-ad {
  font-size: 20px;
}
.options-button {
  font-size: 24px;
  font-weight: bold;
  color: #0a3380;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin: -35px auto 0;
  width: fit-content;
  padding: 18px 33px;
  box-shadow: 8px 9px 35px rgba(49, 49, 49, 0.08);
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}
.options-button:hover,
.options-img-container:hover .options-button {
  cursor: pointer;
  transform: translateY(-100px);
}
.milky-background {
  background-color: #f9f9f9;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .options-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
}

/*=== STATS BAR ===*/

.stats-part-background {
  background-color: #f9f9f9;
}
.stats-cards-container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: -1px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px 70px;
}
.stats-card {
  max-width: 180px;
}
.stats-card img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  filter: sepia(1) saturate(10000%) hue-rotate(-56deg);
}
.middle-part {
  display: flex;
  justify-content: center;
  padding: 18px 0 10px;
  font-size: 36px;
  font-weight: 700;
  color: #ff9e21;
}
.stats-card-label {
  text-align: center;
  font-size: 16px;
  color: #0a3380;
  font-weight: bold;
}

@media screen and (max-width: 912px) {
  .stats-cards-container {
    flex-direction: column;
    gap: 50px;
  }
}

/*=== ABOUT ME ===*/
.about-me-container {
  max-width: 1320px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 20px;
}
.about-me-img {
  object-fit: contain;
}
.about-me-text-container {
  padding: 20px 0;
  max-width: 575px;
}
.about-me-text-container h2 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  max-width: 450px;
  line-height: 1.5;
  margin: 10px 0;
}
.about-me-text-container p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  min-width: 520px;
  color: #3b4964;
}
.first-paragraph {
  margin: 10px 0 20px;
}
.about-me {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21 !important;
}
@media screen and (max-width: 1024px) {
  .about-me-container {
    flex-direction: column;
    gap: 30px;
  }
  .about-me-text-container p {
    min-width: unset;
  }
}
@media screen and (max-width: 430px) {
  .about-me-text-container h2 {
    font-size: 36px;
  }
}

/*=== ANDVANCED SERVICES ===*/
.fancy-background {
  background-image: url("../images/common/top-adv-bg.jpg");
  background-size: contain;
  background-attachment: fixed;
}
.services-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px 20px;
}

.advanced-services {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  max-width: 185px;
  margin: 0 auto;
}
.services-title {
  padding: 20px 0 22px;
  font-size: 42px;
  color: #ffffff;
  max-width: 441px;
  margin: 0 auto;
  text-align: center;
}
.services-paragraph {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.info-cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.service-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 36px;
  max-width: 339px;
}
.service-card img {
  max-width: 55px;
  margin: 20px auto 0;
}
.card-title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 24px;
  color: #0a3380;
  font-weight: bold;
}
.card-paragraph {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #3b4964;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .info-cards-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 768px) {
  .service-card {
    min-width: unset;
    max-width: 627px;
  }
}

/* === WHY CHOOSE ME? === */
.why-choose-background {
  background-image: url("../images/top/why-choose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.why-choose-wrapper {
  padding: 90px 20px;
  max-width: 1320px;
  margin: 0 auto;
}
.why-choose-text-container {
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 60px 30px;
  max-width: 575px;
  margin: 0 auto 0 50%;
}
.why-choose-text-container h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0;
}
.strengths-tabs {
  display: flex;
  gap: 20px;
  padding: 5px 43px 20px 0;
}
.strengths-tabs > div {
  flex: 1;
  width: 100%;
}
.tab-button {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #0a3380;
  opacity: 0.3;
  padding-bottom: 22px;
}
@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.opacity-added {
  opacity: 1;
}
.orange-underline {
  border-bottom: solid 3px #ff9e21;
}
.why-choose-text-container p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  max-width: 550px;
  line-height: 1.5;
  color: #3b4964;
}
.why-choose {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21 !important;
}
.strengths-text-container {
  display: none;
}
.show-paragraph {
  display: block;
  transform: translateY(0px);
  opacity: 1;
  animation: slideUp 0.7s ease;
}

@media screen and (max-width: 1024px) {
  .why-choose-text-container {
    max-width: unset;
    margin: 0 auto;
  }
  .why-choose-text-container p {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-text-container {
    max-width: 100%;
    margin: 0 auto;
  }
  .why-choose-text-container p {
    max-width: 100%;
  }
  .strengths-tabs {
    flex-direction: column;
    padding: 5px 20px;
  }
}

/* === LOGO SLIDER === */
.logo-slider {
  width: 100%;
  margin: 102px 0 90px 0;
}
.logo-div {
  max-width: 200px;
  height: 70px;
  position: relative;
}
.logo-div > img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .logo-slider {
    margin: 70px 0;
  }
}

/* === CALL CENTER === */
.call-center-background {
  background-image: url("../images/common/call-center-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.call-center-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 74px 20px;
}
.call-center-logo {
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 auto;
}
.call-center-container p {
  color: #ffffff;
  font-size: 28px;
  width: fit-content;
  margin: 40px auto 20px;
}
.call-center-container h3 {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .call-center-container h3 {
    font-size: 40px;
  }
  .call-center-container p {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .call-center-container h3 {
    font-size: 35px;
  }
  .call-center-container p {
    font-size: 22px;
  }
}
@media screen and (max-width: 380px) {
  .call-center-container h3 {
    font-size: 30px;
  }
  .call-center-container p {
    font-size: 20px;
  }
}

/* === OUR MEDIA === */
.our-media-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 102px 20px;
}
.our-media {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.our-media-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.our-media-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}
.our-media-cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
}
.our-media-card {
  position: relative;

  min-width: 300px;
}
.our-media-card img {
  border-radius: 15px;
}
.date-label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #aeb6c2;
  margin: 35px 0 7px 0;
}
.caption-label {
  font-size: 24px;
  color: #0a3380;
  font-weight: 800;
}
.tips-button {
  position: absolute;
  top: 31px;
  left: 31px;
  color: #2ea6f7;
  background-color: #ffffff;
  padding: 10px 11px;
  border-radius: 5px;
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.09);
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .our-media-cards-container {
    flex-wrap: wrap;
    column-gap: 21px;
  }
  .our-media-card {
    min-width: unset;
    max-width: 300px;
  }
}
/* === CONTACTS PAGE === */

/* === TOP SECTION === */
.contacts-top-background {
  background-image: url("../images/contact-us/half-doctor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
.contacts-text-area {
  padding: 100px 0 100px;
}
.contacts-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.contacts-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.contacts-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-contacts {
  color: #54ced4;
}
.contacts-top-background p strong {
  color: #0a3380;
}

/* === MAIN CONTENT === */
.contacts-content-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 90px 20px 97px;
  display: flex;
}
.contacts-quick-support {
  max-width: 420px;
  padding: 34px 0 0 20px;
}
.quick-support {
  color: #ff9e21;
  font-size: 14px;
  font-weight: 700;
}
.contacts-quick-support h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: 700;
  margin: 20px 0 30px;
}
.quick-support-paragraph {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
  opacity: 0.9;
  line-height: 1.8;
}

.contacts-button-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.contacts-button-container img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.contacts-button-label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #2ea6f7;
}
.contacts-button-link {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
  margin-top: 5px;
}
.contacts-main-img-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px 100px;
  border-bottom: solid 1px #e5e5e5;
}
.contacts-main-img-container img {
  margin: 0 auto;
  border-radius: 15px;
}
@media screen and (max-width: 1024px) {
  .contacts-content-container {
    flex-direction: column;
    padding: 60px 20px 97px;
  }
  .contacts-quick-support {
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .contacts-content-container {
    flex-direction: column;
    padding: 45x 20px 54px;
  }
}
/* === FOOTER === */
.footer-container {
  max-width: 1320px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}

/* === FOOTER OUR CONTACTS === */
.footer-our-contacts {
  padding: 10px;
}
.footer-our-contacts h3 {
  font-size: 20px;
  color: #0a3380;
  font-weight: bold;
}
.footer-contactinfo {
  display: flex;
  margin-top: 20px;
}
.footer-contactinfo img {
  height: 23px;
  width: 23px;
  margin-right: 20px;
}
.footer-contactinfo p {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
  line-height: 1.2;
}

/* === FOOTER OPEN HOURS === */
.footer-open-hours {
  max-width: 304px;
  width: 100%;
  padding: 10px;
}
.footer-open-hours h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0a3380;
}
.footer-day-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}
.grey-line {
  flex-grow: 1;
  height: 1px;
  background-color: #e5e5e5;
}
.footer-day-label {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
}
.footer-open-time {
  font-family: "Nunito", sans-serif;
  color: #54ced4;
}
.footer-map {
  border-radius: 15px;
  max-width: 566px;
  width: 100%;
  height: 267px;
}
@media screen and (max-width: 1246px) {
  .footer-container {
    justify-content: space-between;
  }
  .footer-map {
    max-width: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer-open-hours {
    max-width: 425px;
  }
  .footer-map {
    max-width: 800px;
  }
}
@media screen and (max-width: 960px) {
  .footer-map {
    max-width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    margin: 50px 90px;
  }
  .footer-open-hours {
    max-width: 100%;
  }
  .footer-map {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .footer-container {
    margin: 50px 20px;
  }
  .footer-map {
    max-width: 100%;
  }
}
.back-to-top-button {
  height: 40px;
  width: 40px;
  background-color: #ff9e21;
  border-radius: 5px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-back-to-top {
  display: none;
}
.above-footer {
  position: absolute;
  top: -70px;
  right: 20px;
}
.back-to-top-button img {
  height: 18px;
}
.footer-wrapper {
  width: 100%;
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  position: relative;
}
.below-footer {
  font-family: "Nunito", sans-serif;
  margin: 0 auto;
  width: fit-content;
  color: #aeb6c2;
  font-weight: bold;
  padding: 23px 0 15px;
}

/* === BLOG TOP SECTION === */
.blog-top-background {
  background-image: url("../images/blog2column/blog-2column-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
.blog-text-area {
  padding: 80px 0 88px;
}
.blog-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.blog-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.blog-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-blog {
  color: #54ced4;
}
.blog-top-background p strong {
  color: #0a3380;
}

/* === BLOG MAIN CONTENT === */
.blog-main-content-container {
  padding: 20px 20px 80px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

/* === TREATMENT CARDS === */
.treatment-cards-container {
  flex: 15;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 21px;
}
.treatment-card {
  position: relative;
}
.treatment-card img,
.treatment-card-slider img {
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}
.treatment-card-slider {
  width: 100%;
  position: relative;
}
.treatment-card-slider .slick-track {
  display: flex !important;
  width: 100% !important;
}

.treatment-card-slider .slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #54ced4;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.treatment-card-slider .slick-prev {
  left: 27px;
}
.treatment-card-slider .slick-next {
  right: 27px;
}
.treatment-card-slider .slick-arrow::before {
  color: transparent;
  background-image: url("../images/blog2column/next-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.treatment-card-slider .slick-prev::before {
  display: block;
  transform: rotate(180deg);
}
.treatment-card-slider .slick-arrow:hover {
  background-color: #2ea6f7;
}
.treatment-date-label {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #aeb6c2;
  margin: 35px 0 7px 0;
}
.treatment-caption-label {
  font-size: 24px;
  color: #0a3380;
  font-weight: 800;
}
.treatment-tips-button {
  position: absolute;
  top: 31px;
  left: 31px;
  color: #2ea6f7;
  background-color: #ffffff;
  padding: 10px 11px;
  border-radius: 5px;
  box-shadow: 7px 5px 15px 0px rgba(0, 0, 0, 0.09);
  z-index: 1;
}

/* === BLOG RIGHT SICKY CONTENT === */

.blog-side-content-container {
  flex: 5;
  position: sticky;
  top: 0;
  height: fit-content;
  padding: 30px 21px;
  border-left: solid 1px #e5e5e5;
}

/* === SIDE PROFILE === */
.side-profile {
  padding: 30px 0;
}
.side-profile-pic {
  width: 210px;
  margin: 0 auto;
}
.side-profile h3 {
  width: fit-content;
  margin: 0 auto;
  font-size: 26px;
  color: #0a3380;
}
.side-profile p {
  text-align: center;
  margin: 20px 0 24px;
  font-family: "Nunito", sans-serif;
  color: #3b4964;
}
.social-media-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-media-button {
  position: relative;
}
.social-media-button img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transition: opacity 0.6s ease, transform 0.8s ease;
}
.social-media-button-hovered {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.social-media-button:hover .social-media-button-normal {
  opacity: 0;
}
.social-media-button:hover .social-media-button-hovered {
  transform: translateY(-5px);
  opacity: 1;
}

/* === SIDE CATEGORIES === */
.side-categories h3 {
  width: fit-content;
  margin: 10px auto 40px;
  font-size: 18px;
  font-weight: 700px;
  color: #0a3380;
}
.side-categories h3::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  width: 22px;
  height: 3px;
  background-color: #ff9e21;
}
.side-categories p {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 500px;
  color: #0a3380;
  cursor: pointer;
}
.side-categories p:hover {
  color: #2ea6f7;
}
.side-categories p::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aeb6c2;
}
.categories-grey-line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  background-color: #e5e5e5;
}
.category-pages {
  font-family: "Nunito", sans-serif;
  color: #aeb6c2;
  font-size: 14px;
}

/* === SIDE GALLERY === */
.side-gallery h3 {
  width: fit-content;
  margin: 52px auto 25px;
  font-size: 18px;
  font-weight: 700px;
  color: #0a3380;
}
.side-gallery h3::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  width: 22px;
  height: 3px;
  background-color: #ff9e21;
}
.side-gallery-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.side-gallery-img-container img {
  border-radius: 10px;
  margin: 0 auto;
}

/* === SIDE GALLERY === */
.side-emergency-section {
  background-image: url("../images/common/widget-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 57px 0;
  border-radius: 15px;
  margin-top: 80px;
}
.side-emergency-section h3 {
  width: fit-content;
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 1.6;
}
.side-emergency-section p {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin: 20px 0 32px;
  text-align: center;
}
.side-emergency-section a {
  color: #2ea6f7;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .treatment-cards-container {
    max-width: 100%;
  }
  .blog-main-content-container {
    flex-direction: column;
    max-width: 857px;
  }
  .blog-side-content-container {
    width: unset;
    margin: 0;
  }
  .side-gallery-img-container {
    gap: 104px;
  }
  .side-gallery-img-container img {
    max-width: 100%;
  }
  .treatment-cards-container {
    padding: 20px 0;
  }
  .blog-side-content-container {
    padding: 50px;
  }
  .side-emergency-section {
    max-width: 402px;
    margin: 80px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .treatment-cards-container {
    padding: 20px 0;
  }
  .side-gallery-img-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 46px;
  }
}
@media screen and (max-width: 700px) {
  .treatment-cards-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 448px) {
  .side-gallery-img-container {
    gap: 20px;
  }
  .blog-side-content-container {
    padding: 20px;
  }
}
/* === ABOUT US PAGE TOP SECTION === */
.aboutus-top-background {
  background-image: url("../images/aboutus/aboutus-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aboutus-text-area {
  padding: 80px 0 88px;
}
.aboutus-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.aboutus-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.aboutus-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-aboutus {
  color: #54ced4;
}
.aboutus-top-background p strong {
  color: #0a3380;
}

/* === ADVANCED-SERVICES === */
.aboutus-advanced-services-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 98px 20px 90px;
}
.aboutus-advanced-services {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.aboutus-advanced-services-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.aboutus-advanced-services-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto 60px;
  line-height: 2;
}
.aboutus-care-cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.aboutus-care-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 36px;
  flex: 1 1 394px;
  box-shadow: 10px 8px 35px rgba(49, 49, 49, 0.08);
}
.aboutus-care-card img {
  max-width: 55px;
  margin: 20px auto 0;
}
.aboutus-card-title {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 24px;
  color: #0a3380;
  font-weight: bold;
}
.aboutus-card-paragraph {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #3b4964;
  line-height: 1.5;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .aboutus-care-cards-container {
    flex-wrap: wrap;
  }
  .aboutus-care-card {
    flex: 1 1 339px;
    max-width: 394px;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-care-cards-container {
    padding: 20px 60px;
  }
  .aboutus-care-card {
    max-width: unset;
  }
}
@media screen and (max-width: 480px) {
  .aboutus-care-cards-container {
    padding: 20px;
  }
}

/* === ABOUTUS STATS CARD === */
.aboutus-stats-part-background {
  background-color: #2ea6f7;
}
.aboutus-stats-cards-container {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: -1px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 70px;
}
.aboutus-stats-card {
  max-width: 180px;
}
.aboutus-stats-card img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.aboutus-middle-part {
  display: flex;
  justify-content: center;
  padding: 18px 0 10px;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
.aboutus-stats-card-label {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (max-width: 912px) {
  .aboutus-stats-cards-container {
    flex-direction: column;
    gap: 50px;
  }
}

/* === ABOUTUS OUR FEATURES === */
.aboutus-our-features-background {
  background-color: #f9f9f9;
}
.aboutus-our-features-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 102px 20px 50px;
}
.aboutus-our-features {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.aboutus-our-features-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.aboutus-our-features-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto 60px;
  line-height: 2;
}
.aboutus-features-container img {
  object-fit: contain;
  max-width: 600px;
}
.aboutus-features-container {
  display: flex;
  padding: 40px 20px 0;
}
.aboutus-features-left,
.aboutus-features-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 90px;
}
.aboutus-features-left h4,
.aboutus-features-left p {
  text-align: right;
}
.aboutus-feature-box {
  display: flex;
  gap: 20px;
}
.aboutus-feature-box h4 {
  color: #2ea6f7;
  font-size: 14px;
  font-weight: 700px;
  margin-bottom: 14px;
}
.aboutus-feature-box p {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #3b4964;
  line-height: 1.6;
}
.aboutus-feature-box img {
  height: 40px;
  width: 40px;
}
@media screen and (max-width: 1200px) {
  .aboutus-features-container img {
    max-width: 471px;
  }
}
@media screen and (max-width: 1092px) {
  .aboutus-features-container {
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
  }
  .aboutus-features-left,
  .aboutus-features-right {
    padding-top: 0;
  }
  .aboutus-features-left .aboutus-feature-box {
    justify-content: end;
    padding-bottom: 50px;
  }
  .aboutus-features-right .aboutus-feature-box {
    justify-content: start;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 538px) {
  .man-inthe-circle {
    max-width: 400px;
    padding: 0 40px;
  }
}
@media screen and (max-width: 446px) {
  .aboutus-features-container img {
    max-width: 340px;
  }
}

/* === ABOUTUS QUALITY STUFF === */
.aboutus-quality-stuff-container {
  padding: 79px 20px 75px;
  max-width: 1320px;
  margin: 0 auto;
}
.aboutus-quality-stuff-container h4 {
  color: #ff9e21;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}
.aboutus-quality-stuff-container h3 {
  font-size: 42px;
  color: #0a3380;
  font-weight: 700;
  margin: 20px 20px 40px;
}
.aboutus-profile-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 0 0;
  justify-items: center;
}
.aboutus-profile-card {
  position: relative;
}
.aboutus-profile-card > img {
  border-radius: 15px;
  justify-items: center;
}
.plus-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 19px;
  right: 18px;
  z-index: 1;
}
.plus-button img {
  height: 20px;
}

.plus-to-x {
  background-color: #54ced4;
  transform: rotate(45deg);
}
.plus-to-x img {
  filter: brightness(10000);
}
.plus-button:hover + .plus-dropdown,
.plus-dropdown:hover {
  opacity: 1;
}
.plus-dropdown {
  position: absolute;
  top: 0px;
  padding-top: 70px;
  right: 18px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: opacity 0.5s ease;
}

.aboutus-profile-card .plus-dropdown a {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.aboutus-profile-card .plus-dropdown img {
  height: 20px;
}
.aboutus-profile-card .name {
  font-size: 20px;
  color: #0a3380;
  font-weight: 700;
  margin-top: 30px;
}
.aboutus-profile-card .position {
  color: #3b4964;
  font-weight: 400;
  margin: 10px 0;
}
.aboutus-profile-card .joined-since {
  color: #2ea6f7;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .aboutus-profile-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .aboutus-profile-card {
    max-width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .aboutus-quality-stuff-container {
    max-width: 788px;
  }
  .aboutus-profile-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
  }
  .aboutus-profile-card {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .aboutus-quality-stuff-container {
    display: flex;
    flex-direction: column;
    max-width: 393px;
  }
  .aboutus-profile-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 60px;
  }
  .aboutus-quality-stuff-container h3 {
    font-size: 30px;
  }
}

/* === OUR HISTORY PAGE TOP SECTION === */
.ourhistory-top-background {
  background-image: url("../images/our-history/half-doctor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 138px;
}
.ourhistory-text-area {
  padding: 100px 0 100px;
}
.ourhistory-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.ourhistory-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.ourhistory-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-ourhistory {
  color: #54ced4;
}
.ourhistory-top-background p strong {
  color: #0a3380;
}
@media screen and (max-width: 768px) {
  .ourhistory-top-background {
    margin-bottom: 77px;
  }
}

/* ===  OUR HISTORY === */
.ourhistory-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
.ourhistory-container > img {
  height: 100%;
  width: 100%;
}
.ourhistory-text-container {
  padding: 20px 0;
  max-width: 575px;
}
.ourhistory {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21 !important;
}
.ourhistory-text-container h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  max-width: 450px;
  line-height: 1.5;
  margin: 10px 0;
}
.ourhistory-text-container li {
  font-family: "Noto Sans", sans-serif;
  line-height: 2.5;
  font-weight: 300;
}
.ourhistory-text-container li::before {
  content: "";
  display: inline-block;
  background: url("../images/our-history/check.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 1024px) {
  .ourhistory-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .ourhistory-container h3 {
    font-size: 30px;
  }
}

/* ===  HISTORY === */
.history-wrapper {
  background-color: #54ced4;
  background-image: url("../images/our-history/our-history-bg.png");
  background-position: center center;
  background-repeat: repeat;
  height: 100%;
}
.history-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 102px 20px 72px;
}

.history-container > h4 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  max-width: 185px;
  margin: 0 auto;
}
.history-container > h3 {
  padding: 20px 0 22px;
  font-size: 42px;
  color: #ffffff;
  max-width: 441px;
  margin: 0 auto;
  text-align: center;
}
.history-container > p {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.history-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-card-container > p {
  font-family: "Ubuntu", Sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
  margin-right: 30px;
}
.history-vertical-line {
  display: block;
  background-color: #ffffff;
  align-self: stretch;
  min-width: 5px;
  position: relative;
}
.history-card-container img {
  min-width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.history-card {
  padding: 24px 30px 24px 50px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.history-card h4 {
  color: #0a3380;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 8px;
  font-family: "Ubuntu";
  text-align: center;
}
.history-card h4:hover {
  color: #ff9e21;
  transition: 0.4s;
}
.history-card p {
  font-family: "Nunito", sans-serif;
  color: #3b4964;
}
.last-line {
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .history-container {
    max-width: 600px;
    padding: 56px 20px 26px;
  }
  .history-container h3 {
    font-size: 30px;
  }
  .history-card-container > p {
    font-size: 35px;
  }
  .history-card {
    padding: 24px 15px 24px 25px;
  }
}
@media screen and (max-width: 525px) {
  .history-card-container > p {
    font-size: 30px;
  }
  .history-card {
    padding: 24px 10px;
  }
}
@media screen and (max-width: 375px) {
  .history-card-container > p {
    font-size: 22px;
    margin-right: 20px;
  }
}

/* ===  AMENITIES === */
.amenities-container {
  max-width: 1320px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.amenities-img-container {
  position: relative;
}
.amenities-2 {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
}
.amenities-text-container {
  padding: 20px;
  margin-top: 75px;
}
.amenities-text-container h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 0;
}
.amenities-text-container p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #3b4964;
}
.first-paragraph {
  margin: 10px 0 20px;
}
.amenities-text-container h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21;
}
.amenities-paragraph-container {
  display: none;
}
@media screen and (max-width: 1024px) {
  .amenities-container {
    grid-template-columns: 1fr;
    padding: 100px 20px;
    margin: unset;
  }
}
@media screen and (max-width: 768px) {
  .amenities-container {
    max-width: 600px;
    margin: 50px auto;
  }
}
@media screen and (max-width: 454px) {
  .amenities-text-container h3 {
    font-size: 28px;
  }
}

/* ===  SERVICES TOP SECTION === */
.services-top-background {
  background-image: url("../images/our-history/half-doctor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
.services-text-area {
  padding: 100px 0 100px;
}
.services-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.services-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.services-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-services {
  color: #54ced4;
}
.services-top-background p strong {
  color: #0a3380;
}

/* ===  SERVICES CARDS SECTION === */
.specialization-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 20px 102px;
}
.specialization {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.specialization-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
}
.specialization-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}
.service-info-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 20px;
}
.service-info-icon-group::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #54ced4;
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 1;
}
.service-info-icon-group {
  padding: 30px;
  border: dashed 1px #54ced4;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.service-info-icon-group::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #54ced4;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}
.service-info-icon-group img {
  width: 50px;
  height: 50px;
}
.service-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 270px;
  width: 100%;
  height: 270px;
  border-radius: 15px;
}
.service-info-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
  border-radius: 15px;
}
.service-info-card > p {
  margin: 15px 0 10px;
  color: #0a3380;
  margin: 15px 0px 10px 0px;
  font-size: 24px;
  font-family: Ubuntu;
  font-weight: 700;
  line-height: 1.4;
}

@media screen and (max-width: 1024px) {
  .service-info-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .specialization-container {
    padding: 40px 20px 50px;
  }
  .specialization-container h3 {
    font-size: 30px;
  }
  .service-info-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .service-info-card {
    max-width: 300px;
    height: 300px;
  }
}

/* ===  PRICING PLAN SECTION === */
.plan-container-wrapper {
  background-color: #f9f9f9;
}
.plan-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 20px 102px;
}
.pricing-plan {
  font-size: 14px;
  color: #ff9e21;
  font-weight: 800;
  width: fit-content;
  margin: 0 auto;
}
.plan-container h3 {
  font-size: 42px;
  color: #0a3380;
  width: fit-content;
  font-weight: bold;
  margin: 20px auto 22px;
  text-align: center;
}
.plan-paragraph {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}

.plan-cards-container {
  padding: 65px 15px 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* first card */
.standard-plan-card {
  max-width: 370px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 43px 35px 0;
  border-radius: 15px;
}
.standard-plan-card h4 {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
  color: #0a3380;
}
.standard-price-tag {
  font-size: 80px;
  color: #2ea6f7;
  font-weight: bold;
  margin: 28px 0 37px;
  text-align: center;
}
.standard-price-tag sup {
  font-size: 25px;
  color: #2ea6f7;
  font-weight: bold;
  vertical-align: text-top;
}
.standard-price-tag span {
  font-size: 18px;
  color: #2ea6f7;
}
.standard-plan-line {
  width: 60px;
  height: 3px;
  background-color: #2ea6f7;
  margin: 0 auto;
}
.standard-plan-text {
  margin: 34px 35px 18px;
}
.standard-plan-text > p {
  color: #0a3380;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 20px;
  text-align: center;
}
.standard-buy-plan {
  padding: 17px 30px;
  background-color: #2ea6f7;
  color: white;
  width: fit-content;
  border-radius: 7px 7px 0 0;
  margin: 62px auto 0;
}
.standard-buy-plan:hover {
  background-color: #ff9e21;
}

/* second card */

.professional-plan-card {
  max-width: 370px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 43px 35px 0;
  border-radius: 15px;
  background-image: url("../images/service/price_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.professional-plan-card h4 {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
  color: #ffffff;
}
.professional-price-tag {
  font-size: 80px;
  color: #ffffff;
  font-weight: bold;
  margin: 28px 0 37px;
  text-align: center;
}
.professional-price-tag sup {
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  vertical-align: text-top;
}
.professional-price-tag span {
  font-size: 18px;
  color: #ffffff;
}
.professional-plan-line {
  width: 60px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
}
.professional-plan-text {
  margin: 34px 35px 18px;
}
.professional-plan-text > p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 20px;
  text-align: center;
}
.professional-buy-plan {
  padding: 17px 30px;
  background-color: #ffffff;
  color: #2ea6f7;
  width: fit-content;
  border-radius: 7px 7px 0 0;
  margin: 62px auto 0;
}
.professional-buy-plan:hover {
  background-color: #ff9e21;
}

/* third card */
.prestige-plan-card {
  max-width: 370px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 43px 35px 0;
  border-radius: 15px;
}
.prestige-plan-card h4 {
  text-align: center;
  font-size: 24px;
  line-height: 1.4;
  color: #54ced4;
}
.prestige-price-tag {
  font-size: 80px;
  color: #54ced4;
  font-weight: bold;
  margin: 28px 0 37px;
  text-align: center;
}
.prestige-price-tag sup {
  font-size: 25px;
  color: #54ced4;
  font-weight: bold;
  vertical-align: text-top;
}
.prestige-price-tag span {
  font-size: 18px;
  color: #54ced4;
}
.prestige-plan-line {
  width: 60px;
  height: 3px;
  background-color: #54ced4;
  margin: 0 auto;
}
.prestige-plan-text {
  margin: 34px 35px 18px;
}
.prestige-plan-text > p {
  color: #0a3380;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 20px;
  text-align: center;
}
.prestige-buy-plan {
  padding: 17px 30px;
  background-color: #54ced4;
  color: white;
  width: fit-content;
  border-radius: 7px 7px 0 0;
  margin: 62px auto 0;
}
.prestige-buy-plan:hover {
  background-color: #ff9e21;
}
@media screen and (max-width: 1024px) {
  .plan-cards-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .plan-container {
    padding: 80px 20px 35px;
  }
  .plan-container h3 {
    font-size: 30px;
  }
}

/* ===  DOCTOR TOP SECTION === */
.doctor-top-background {
  background-image: url("../images/doctor/half-doctor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}
.doctor-text-area {
  padding: 100px 0 100px;
}
.doctor-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.doctor-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.doctor-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-doctor {
  color: #54ced4;
}
.doctor-top-background p strong {
  color: #0a3380;
}

/* ===  OUR SKILLS === */
.ourskills-container {
  display: flex;
  gap: 60px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 90px 20px 0;
}
.ourskills-container > img {
  max-width: 570px;
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
}
.ourskills-text-container {
  padding: 15px;
}
.ourskills {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #ff9e21 !important;
}
.ourskills-text-container h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  padding: 20px 0 40px;
}
.stat-bars-container {
  color: #0a3380;
}
.stat-bar {
  height: 10px;
  margin: 15px 0;
  border-radius: 4px;
  position: relative;
}
.ono-stat-bar {
  width: 87%;
  background-color: #ff9e21;
}
.ono-stat-bar::after {
  content: "87%";
  height: 25px;
  width: 40px;
  background-color: inherit;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gyne-stat-bar {
  width: 65%;
  background-color: #54ced4;
}
.gyne-stat-bar::after {
  content: "65%";
  height: 25px;
  width: 40px;
  background-color: inherit;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rehab-stat-bar {
  width: 92%;
  background-color: #2ea6f7;
}
.rehab-stat-bar::after {
  content: "92%";
  height: 25px;
  width: 40px;
  background-color: inherit;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .ourskills-container > img {
    max-width: 460px;
  }
}
@media screen and (max-width: 1024px) {
  .ourskills-container {
    flex-direction: column;
    align-items: center;
  }
  .ourskills-container > img {
    max-width: 570px;
  }
}
@media screen and (max-width: 768px) {
  .ourskills-container {
    gap: 40px;
    padding: 45px 20px 0;
  }
  .ourskills-container h3 {
    font-size: 30px;
  }
  .ourskills-text-container {
    padding: 0px;
  }
}

/* === DOCTOR TEAM === */
.ourteam-container-wrapper {
  background-color: #f9f9f9;
}
.ourteam-container {
  padding: 79px 20px 75px;
  max-width: 1320px;
  margin: 0 auto;
}
.ourteam-container > h4 {
  color: #ff9e21;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
  text-align: center;
}
.ourteam-container h3 {
  font-size: 42px;
  color: #0a3380;
  font-weight: 700;
  margin: 20px 20px 40px;
  text-align: center;
}
.aboutus-profile-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px 0 0;
  justify-items: center;
}
.aboutus-profile-card {
  position: relative;
}
.aboutus-profile-card > img {
  border-radius: 15px;
  justify-items: center;
}
.plus-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 19px;
  right: 18px;
  z-index: 1;
}
.plus-button img {
  height: 20px;
}

.plus-to-x {
  background-color: #54ced4;
  transform: rotate(45deg);
}
.plus-to-x img {
  filter: brightness(10000);
}
.plus-button:hover + .plus-dropdown,
.plus-dropdown:hover {
  opacity: 1;
}
.plus-dropdown {
  position: absolute;
  top: 0px;
  padding-top: 70px;
  right: 18px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: opacity 0.5s ease;
}

.aboutus-profile-card .plus-dropdown a {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
}
.aboutus-profile-card .plus-dropdown img {
  height: 20px;
}
.aboutus-profile-card .name {
  font-size: 20px;
  color: #0a3380;
  font-weight: 700;
  margin-top: 30px;
}
.aboutus-profile-card .position {
  color: #3b4964;
  font-weight: 400;
  margin: 10px 0;
}
.aboutus-profile-card .joined-since {
  color: #2ea6f7;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .aboutus-profile-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .aboutus-profile-card {
    max-width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .ourteam-container {
    max-width: 788px;
  }
  .aboutus-profile-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
    max-width: 730px;
  }
  .aboutus-profile-card {
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .ourteam-container {
    display: flex;
    flex-direction: column;
    max-width: 393px;
  }
  .aboutus-profile-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 60px;
  }
  .ourteam-container h3 {
    font-size: 30px;
  }
}

/* ===  FAQ TOP SECTION === */
.faq-top-background {
  background-image: url("../images/faq/faq-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}
.faq-text-area {
  padding: 100px 0 100px;
}
.faq-top-background h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 0 auto;
}
.faq-top-background p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
  width: fit-content;
  margin: 10px auto 0;
}
.faq-top-background a {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #0a3380;
}
.greaterthansign-for-faq {
  color: #54ced4;
}
.faq-top-background p strong {
  color: #0a3380;
}

.questions-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  gap: 100px;
}

.questions-left-container {
  flex: 1;
}
.questions-left-container h4 {
  color: #ff9e21;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}
.questions-left-container h3 {
  color: #0a3380;
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 0 20px;
}
.questions-left-container p {
  color: #3b4964;
  font-family: "Nunito", sans-serif;
  font-weight: 500px;
  margin-bottom: 25px;
  line-height: 2;
}
.questions-right-container {
  flex: 1;
}
.question-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 23px;
  transition: 0.5s ease;
  z-index: 1;
  background-color: #ffffff;
}
.question {
  font-size: 20px;
  font-weight: 700;
  color: #0a3380;
}
.question:hover {
  color: #2ba4f9;
}
.question-plus::before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background-color: #2ea6f7;
  position: absolute;
}
.question-plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-plus::after {
  content: "";
  display: block;
  width: 3px;
  height: 20px;
  background-color: #2ea6f7;
  position: absolute;
}
.minus {
  background-color:#2ea6f7;
}
.minus::before {
  background-color: #ffffff;
}
.minus::after {
  transform: rotate(90deg);
  background-color: #ffffff;
}
.answer {
  font-family: "Nunito", sans-serif;
  font-size: 0px;
  color: #3b4964;
  transform: translateY(-30px);
  transition: transform 0.9s ease; 
}
.show-answer {
  font-size: 16px;
  transform: translateY(0px);
  transition: transform 3s ease; 
}

